section{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
}
.card{
    width: 200px;
    height: 100px;
    background-color: #BF6565;
    border-radius: 10px;
}