section{
    display: flex;
}

.card {
    background: #ffdada;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    /*direction: rtl;*/
    writing-mode: vertical-rl; 
  }
  
  .card__header {
    background: #dbf6e9;
    padding: 20px;
  }
  
  .card__main {
    background: #9ddfd3;
    padding: 20px;
  }

  /*////////CARD 2/////////*/
  .card2 {
    background: #ffdada;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    /*direction: rtl;*/
    writing-mode: vertical-lr; 
  }
  
  .card__header2 {
    background: #dbf6e9;
    padding: 20px;
  }
  
  .card__main2 {
    background: #9ddfd3;
    padding: 20px;
  }


  /*////////CARD 3/////////*/
  .card3 {
    background: #ffdada;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    /*direction: rtl;*/
    writing-mode:horizontal-tb; 
  }
  
  .card__header3 {
    background: #dbf6e9;
    padding: 20px;
  }
  
  .card__main3 {
    background: #9ddfd3;
    padding: 20px;
  }
