:root{
    --pink:#F20CA2;
    --purple-soft: #A64E87;
    --purple: #61358C;
    --yellow: #D9CD23;
    --sunset: #BF6565;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(207.8deg, #61358C, #A64E87 90%);
    margin: 0;
    height: 100vh;
  }

  .section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    height: 100vh;
  }

/* .Letras{
    z-index: 2;
    font-size: 40px;
    font-weight: 800;
    align-self: center;
    grid-area: 3/6/5/9;
} */
.rosaChiki{
    background-color: #F20CA2;
    grid-area: 3/3/4/4;
}
.rosaChiki p{
    transform: rotate(-90deg);
    margin-left: 5vw;
}
.amarillo{
    grid-area: 5/1/10/2;
    background-color: yellow;
}
.azul{
    opacity:80%;
    background-color: lightblue;
    grid-area: 7/1/9/4;
}
.rosa{
    background-color: #F20CA2;
    grid-area: 5/5/11/8;
}
.rosa2{
    z-index: 1;
    border: solid #F20CA2;
    grid-area: 4/6/7/9;
} 
.rosa3{
    z-index: 2;
    border: solid #F20CA2;
    grid-area: 3/7/9/10;
}
.letras{
    margin-left: 1vw;
    z-index: 4;
    font-size: 40px;
    grid-area: 3/6/5/9;
}


